<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark justify-content-between">
  <logo>
    <a class="navbar-brand" routerLink="/">Navbar</a>
  </logo>
  <links>
    <ul class="navbar-nav ml-auto">
      <li mdbRippleRadius routerLinkActive="active" class="nav-item">
        <a routerLink="/" class="nav-link waves-light">About
        </a>
      </li>
      <li mdbRippleRadius routerLinkActive="active" class="nav-item">
        <a routerLink="/generator" class="nav-link waves-light">Generator
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
