<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="md-form">
        <input class="form-control" type="text" mdbActive [(ngModel)]="sentence">
        <button class="btn btn-sm btn-success" mdbRippleRadius (click)="search()">Search</button>
      </div>
    </div>
  </div>

  <mdb-progress-bar *ngIf="showLoading" class="progress primary-color-dark" mode="indeterminate"></mdb-progress-bar>

  <div class="result">
    <app-generator [items]="result"></app-generator>
  </div>



</div>
